[submodule "Plugins/Open3DUE5"]
	path = Plugins/Open3DUE5
	url = https://github.com/ShinSangJin-Capstone-Team/Open3DUE5Plugin.git
[submodule "Plugins/Voxel"]
	path = Plugins/Voxel
	url = https://github.com/VoxelPlugin/VoxelProLegacy.git
	branch = 5.2
[submodule "Plugins/AdvancedSteamSessions"]
	path = Plugins/AdvancedSteamSessions
	url = https://github.com/ShinSangJin-Capstone-Team/AdvancedSteamSessions.git
[submodule "Plugins/AdvancedSessions"]
	path = Plugins/AdvancedSessions
	url = https://github.com/ShinSangJin-Capstone-Team/AdvancedSessions.git
[submodule "Plugins/VRExpansionPlugin"]
	path = Plugins/VRExpansionPlugin
	url = https://github.com/mordentral/VRExpansionPlugin.git
	branch = 5.2-Locked
[submodule "Plugins/ALS-Community"]
	path = Plugins/ALS-Community
	url = https://github.com/dyanikoglu/ALS-Community.git
